#root {
  height: 100%;
}

.layout {
  background-image: url('./assets/images/bg.png');
  background-size: cover;
  height: 100%;
}

.ant-layout-header,
.ant-layout-footer {
  background-color: transparent;
}

/* Login */
.loginWrapper {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px;
  height: 400px;
  width: 400px;
}
